.todo {
  justify-content: center;
  &__body {
    width: 360px;
  }
  &__title {
  }
}

.menu {
  &__search-form {
  }
  &__btn {
  }
}

.list {
  &__item {
  }
  &__title {
  }
}

.sorting-btns {
  &__item {
   margin: 0 10px 0 0;
  }
}
